{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class='p-5 mb-4 bg-light rounded-3 group-jumbo'>
    <h3 class='display-5 fw-bold'>{{ group }}</h3>
    <h6>{{ group.code }}</h6>
    <p><strong>Admin: </strong><span class="badge bg-success"><i class="bi bi-person-fill"></i> {{ group.admin.user }}</span></p>
    <p><strong>Jogadores: </strong>
    {% for player in group.players.all %}
        {% if user_player == player %}
        <span class="badge bg-primary"><i class="bi bi-person-fill"></i> {{ player.user }}</span>
        {% else %}
        <span class="badge bg-secondary"><i class="bi bi-person-fill"></i> {{ player.user }}</span>
        {% endif %}
    {% endfor %}
    </p>
    <div class='float-end'>
        {% if player_in_group %}
        <a href='{% url "game-create" group.code %}' class='btn btn-primary' type='submit' title='criar novo jogo'>
            Criar jogo <i class="bi bi-plus-lg"></i> 
        </a>
            {% if user_player == group.admin %}
            <a href='{% url "group-edit" group.code %}' class='btn btn-secondary' title='editar grupo'>
                <i class="bi bi-pencil-fill"></i>
            </a>
            <a href='{% url "group-remove" group.code %}' class='btn btn-danger' title='deletar grupo'>
                <i class="bi bi-trash-fill"></i>
            </a>
            {% endif %}
        <a href='{% url "group-unsubscribe" group.code %}' class='btn btn-danger' type='submit' title='sair do grupo'>
            <i class="bi bi-box-arrow-down-left"></i>
        </a>
        {% else %}
        <a href='{% url "group-subscribe" group.code %}' class='btn btn-success' type='submit'>
            Entrar no grupo <i class="bi bi-box-arrow-in-up-right"></i>
        </a>
        {% endif %}
    </div>
</div>

{% include 'games/list.html' %}
{% endblock %}