<div class="col-sm-6">
    
    <div class="card group-jumbo">
      <div class="card-body">
        <h4 class="card-title">{{ group.name }}</h4>
        <p><small>{{ group.code }}</small></p>
        <p>
          {% for player in group.players.all %}
          <span class="badge bg-secondary"><i class="bi bi-person-fill"></i> {{ player.user }}</span>
          {% endfor %}
        </p>
        <div class='float-end'>
          <a href='{% url "group-detail" group.code %}' class="btn btn-enter" title='ver'>
              <i class="bi bi-box-arrow-in-right"></i>
          </a>
        </div>
       </div>
    </div>
  
  </div>