{% extends "base.html" %}

{% block content %}
<form class="form" method="get">
    <div class="input-group input-group-lg mb-5 mt-5 group-search">
        
        <input type="text" class="form-control" placeholder="Pesquisar grupo" aria-label="Pesquisar grupo" aria-describedby="button-addon2" name="code">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
            <i class="bi bi-search"></i>
        </button>

    </div>
</form>

{% if code and not group_found %}
<h6 class="group-search-message">Grupo {{code}} não encontrado</h6>
<hr>
{% endif %}

{% if group_found %}
<h3>Grupo encontrado</h3>
<div class="row mb-5">
  {% with group=group_found %}
    {% include 'groups/group.html' %}
  {% endwith %}
</div>
{% endif %}

{% if groups %}
<h3 class="mb-3">Meus grupos</h3>

<div class="row">
    {% for group in groups %}
      {% include 'groups/group.html' %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}